@import url('https://fonts.googleapis.com/css?family=Exo+2:600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');


.App {
  text-align: center;
  margin: 0 auto;
  width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system , BlinkMacSystemFont , "Segoe UI" , "Roboto" , "Helvetica Neue" , "Ubuntu" , sans-serif;
}

.spc{
  font-size: 1.1rem;
  /* font-family: 'Peddana', serif; */
  font-weight: 600;
}

.h{
  width: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text{
  font-family: 'Exo 2', sans-serif;
}
 .card{
  font-family: 'Exo 2', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: #94554a;
  height: 35px;
}

.selector{
  font-weight: 500;
  font-size: 1.7rem;

}

.hand-write{
  font-family: 'Marck Script', cursive;
  font-weight: 600;
  color: #1d2d35;
}


.hole{
  outline-color: transparent;
  -webkit-appearance: none; box-shadow: none !important;
  outline-style: none;
  display: flex;
  text-align: center;
  color: black;
  font-family: 'Marck Script', cursive;
  font-size: 1.2rem;
  font-weight: 500;
}

.logo{
 width: 30px;
 margin-left: 3px;
 margin-right: 0px;
}

.oak{
  width: 100px;
  margin-top: 10px;
}

.title{
  /* font-family: 'Libre Baskerville', serif; */
}

.continue{
  font-family: 'Exo 2', sans-serif;
}

.red{
  color: #f55f5f
}

.odd{
  background: #e9f3ff;
}

.bigcard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.winner{
  height: 250px;
  width: 250px;
  margin-left: 0px;
  top: 215px;
  position: absolute;
  z-index: 20;
  border: 2px solid #762417c4;;
  background: #ffedd9d1;
  color: #72351bc4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;

}

button:hover{
  cursor: pointer;
}

.nope{
  color: grey;
  font-size: 0.8rem;
}